/*

!package.json

!packages
packages/*

!packages/medusa
packages/medusa/*
!packages/medusa/src
!packages/medusa/.babelrc.js
!packages/medusa/index.js
!packages/medusa/medusa-config.js
!packages/medusa/package.json
!packages/medusa/tsconfig.json

!packages/storefront
packages/storefront/*
!packages/storefront/public
!packages/storefront/src
!packages/storefront/next.config.js
!packages/storefront/next-sitemap.js
!packages/storefront/postcss.config.js
!packages/storefront/store-config.js
!packages/storefront/tailwind.config.js
!packages/storefront/package.json
!packages/storefront/store.config.json
!packages/storefront/tsconfig.json
